@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  border-bottom: 1px solid black
}

.cool-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.cool-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width .3s;
}

.cool-link:hover::after {
  width: 100%;
  transition: width .3s;
}


body {
  font-family: "Space Grotesk", sans-serif;
}

.logo {
  font-family: "Sankofa Display", sans-serif;
  font-weight: 700;
  font-style: normal;
}